    .header 
    {
        width: 98vw;
        height: 100vh;
        background-image: url(./alex-kondratiev-H9t723yPjYI-unsplash.jpg);
        background-size: 100% 100%, cover ;

}
.header h1 {
 letter-spacing: 2px;
 text-decoration: underline;
}
td{
    text-align: center;
    width: 5px; 
    border: 3px solid black;
    font-weight: 700;
    size: 100px;
      
} 
th{
    border: 3px solid black;
}

.header p{
    font-weight: bold;
    font-size: large;
}
.header table{
    width: 100%;
    height: 100px;
}
.color1
{
background-color:#Efefef ;
font-weight: bold;
}
.color2
{
 background-color: #EDBB99 ;
 font-weight: bold;   
}
.color3
{
    background-color: #FAD7A0;
    font-weight: bold;
}

.color4
{
 background-color:#F5B041;
 font-weight: bold;
}
.color5
{
 background-color:#CBEA58;
 font-weight: bold;
}
.color6
{
 background-color:#A9CCE3;
 font-weight: bold;
}
.color7
{
 background-color:#C39BD3;
 font-weight: bold;
}
.color8
{
 background-color:#FADBD8;
 font-weight: bold;
}
.color9
{
 background-color:#7DCEA0;
 font-weight: bold;
 
}
.description{
    text-decoration: underline;
    font-weight: bolder;
}


